html {
    font-size: 16px;
}
/* ------------------ Header ------------------ */
.header__container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0;
    background-position: 100% 100%;
}

.header {
    background-image: url('../images/BG.png');
    background-position: center 100%;
}
/* ------------------ End of Header ------------------ */

/* ------------------ Photoapp section ------------------ */
.photoapp__box {
    top: 30%;
    left: 10%;
    width: 30%;
    text-align: left;
}

.photoapp {
    background-image: url('../images/HandPhone.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    padding: 0 0 50px;
    width: 100%;
    background-color: #f5f6f7;
}
/* ------------------ End of Photoapp ------------------ */


/* ------------------ Design section ------------------ */
.design__box {
    max-width: 30%;
}
/* ------------------ End of Design ------------------ */

/* ------------------ Community section ------------------ */
.community__box {
    padding-top: 20px;
}

.community__main {
    width: 33%;
}

.community__item {
    width: 33%;
}

.community__title,
.community__text {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}
/* ------------------ End of Community ------------------ */

/* ------------------ Subscribe section ------------------ */
.subscribe {
    background-image: url('../images/Livello3.png');
    min-height: 100vh;
}
/* ------------------ End of Subscribe ------------------ */

/* ------------------ Download section ------------------ */
.download__buttons {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

/* ------------------ End of Download ------------------ */

/* ------------------ Footer section ------------------ */
.footer {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 42px 0 33px;
}

.footer__links {
    display: inline-block;
}

.footer__link {
    border-right: 1px solid green;
    padding: 0 10px;
}

.footer__link:hover,
.footer__cprt:hover {
    text-decoration: underline;
}

.footer__link--border {
    border-right: none;
}

.footer__cprt {
    padding: 16px 10px;
}
/* ------------------ End of Footer ------------------ */
