body {
    font: normal 1rem/2rem 'Roboto', Arial, Helvetica, sans-serif;
}
.container__title--green {
    font: lighter 1.125rem/1.35rem 'Roboto', Arial, Helvetica, sans-serif;
}

.container__text--grey {
    font: lighter 0.75rem/1.5rem 'Roboto', Arial, Helvetica, sans-serif;
}

.nav__anchor {
    font: lighter 1rem/1.375px 'Roboto', Arial, Helvetica, sans-serif;
}

.header__title {
    font: lighter 2.25rem/2.5rem 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 5.4px;
    text-transform: uppercase;
}

.header__text {
    font: normal 0.625rem/3rem 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 2.4px;
    padding: 10px 0;
}

/* ------------------ Header ------------------ */
.header {
    position: relative;
    background-image: url('../images/BG.png');
    background-position: center 100%;
    min-height: 800px;
}

.nav__item {
    width: 25%;
    display: block;
    margin: 2.5% auto;
    text-align: center;
    padding: 5px;
}



.header__container {
    padding-top: 200px;
}

.font__menu {
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 50%;
    -webkit-transform: translate(-50%, -2%);
        -ms-transform: translate(-50%, -2%);
            transform: translate(-50%, -2%);
}

/* ------------------ End of Header ------------------ */

/* ------------------ Photoapp section ------------------ */

.photoapp {
    position: relative;
    background-image: url('../images/HandPhoneSmall.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 55%;
    padding: 0 0 50px;
    width: 100%;
    min-height: 400px;
    background-color: #f5f6f7;
}

.photoapp__box {
    position: absolute;
    bottom: 17%;
    right: 4.5%;
    max-width: 40%;
    text-align: left;
}

.photoapp__btn {
    margin: 0;
}

.photoapp__img {
   display: none;
}

.container__title--green {
    width: 100%;
    padding: 25px 0;
}

.container__text--grey {
    width: 100%;
    padding: 15px 0 30px;
}

/* ------------------ End of Photoapp ------------------ */

/* ------------------ Design section ------------------ */
.design {
    padding: 0;
}

.design__img {
    display: block;
    width: 100%;
    max-width: 313px;
    height: 600px;
    margin: 35px -2px 0px 0px;
 }

 .design__slider {
     width: 35%;
     height: 30%;
     margin: 50px 76px 0px 60px;
     padding-top: 40px;
 }

.design__wrapper {
    width: 42%;
    margin: 0
}

.img__box {
   min-width: 385px;
   height: 474px;
   overflow: hidden;
}

.design__container {
    padding: 20px 20px;;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-evenly;
}

.design__box {
    text-align: left;
}

.design__btn {
    margin: 0;
    text-align: center;
}

.slider__btn {
    margin: 0 auto;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 15px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.slider__btn:hover {
    color: $primaryColor;
}


.slider__menu {
    padding-top: 10px;
    width: 100%;
    text-align: left;
}

.slick-prev, 
.slick-next {
    top: 82%;
    right: -40%;
}

.slick-prev {
    left: 145%;
}

.slick-next {
    right: -57%;
}
/* ------------------ End of Design ------------------ */

/* ------------------ Community section ------------------ */
.community__box {
    width: 85%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: end;
        align-content: flex-end;
}

.community__main {
    padding-top: 80px;
    width: 100%;
}

.community__item {
    width: 50%;
}



.comm__slider {
    width: 100%;
    margin: 0;
}
/* ------------------ End of Community ------------------ */

/* ------------------ Subscribe section ------------------ */
.subscribe {
    background-image: url('../images/Livello3Medium.png');
    min-height: 486px;
}
.subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.subscribe__btn {
    display: block;
    width: 100%;
    max-width: 63px;
    min-height: 60px;
    border-radius: 0px 3px 3px 0px;
}

.subscribe__input {
    border-radius: 3px 0px 0px 3px;
}
/* ------------------ End of Subscribe ------------------ */

/* ------------------ Download section ------------------ */
.download__buttons {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

/* ------------------ End of Download ------------------ */

/* ------------------ Footer section ------------------ */
.footer__box {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 42px 0 33px;
}
/* ------------------ End of Footer ------------------ */
