.header {
    background-image: url('../images/BG.png');
}



/* ------------------ Photoapp section ------------------ */
.photoapp__box {
    top: 30%;
    left: 10%;
    width: 30%;
    text-align: left;
}

.photoapp {
    background-image: url('../images/HandPhone.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    padding: 0 0 50px;
    width: 100%;
    background-color: #f5f6f7;
}




/* ------------------ End of Photoapp ------------------ */


/* ------------------ Design section ------------------ */
.design__box {
    max-width: 30%;
}

/* ------------------ End of Design ------------------ */

/* ------------------ Community section ------------------ */
.community__box {
    padding-top: 20px;
}

.community__main {
    width: 33%;
}

.community__item {
    width: 33%;
}

.community__title,
.community__text {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}

/* .community__slider {
    top: 0%;
    right: 3%;
} */
/* ------------------ End of Community ------------------ */